**Assignment 1: String Concatenation and Formatting**

In [2]:
name = "muhammad hammad naseem"
age = 26
country = "Pakistan"
text = "My name is " + name + ", I am " + str(age) + " years old, and I live in " + country + "."
print (text)

My name is muhammad hammad naseem, I am 26 years old, and I live in Pakistan.

**Assignment 2: String Formatting using `.format()`**

In [3]:
item = "oranges"
quantity = 3
price = float(2.25)
total_cost = quantity * price

print ("I bought {} {}(s) at {} each, for a total of ${:.2f}.".format(quantity, item, price, total_cost))

I bought 3 oranges(s) at 2.25 each, for a total of $6.75.

In [7]:
item = "laptop"
price = 1100.1
quantity = 2
total_cost = price * quantity

formatted_string = "I bought {} {}(s) at {} each, for a total of ${}.".format(quantity, item, price, total_cost)

print(formatted_string)

I bought 2 laptop(s) at 1100.1 each, for a total of $2200.2.

**Assignment 3: String Interpolation using `f''`**

In [8]:
city = "Karachi"
temperature = 34
text = f"Temperature in {city} is {temperature} degree celcius."
print(text)

Temperature in Karachi is 34 degree celcius.

In [ ]:
city = "Lahore"
temperature = 30
formatted_string = f"The temperature in {city} is {temperature}Â°C."
print(formatted_string)

**Assignment 4: String Formatting using `%()`**

In [9]:
first_name = "Hammad"
last_name = "Naseem"
birth_year = 1997
current_year = 2023
age = current_year - birth_year

text = ("My name is %(first_name)s %(last_name)s and I am %(age)d years old.") %{"first_name": first_name, "last_name": last_name, "age": age}
print (text)

My name is Hammad Naseem and I am 26 years old.


**Assignment 5: Combining Formatting Methods**

In [10]:
product = "Laptop"
discount = 15
original_price = 1000
discounted_price = original_price * (1 - discount / 100)
descriptive_string = f"Product: {product}\nOriginal Price: ${original_price}\nDiscount: {discount}%\nDiscounted Price: ${discounted_price:.2f}"
print(descriptive_string)

Product: Laptop
Original Price: $1000
Discount: 15%
Discounted Price: $850.00